@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@200&display=swap');
:root {
  --light-tan:hsla(32, 100%, 90%);
  --dark-tan:hsla(32, 100%, 80%);
  --darkgrey: hsl(0, 0%, 25% );
  --dark-purple: hsl(229.1,21.6%,30%);
}
* {
  margin:0;
  padding:0;
}
body {
    box-sizing:border-box;
  font-family: 'Palanquin', sans-serif;
  font-size:22px;
  color: var(--dark-purple);
  background-color: var(--light-tan);
  margin:0px;
  padding:0px;
}
a {text-decoration:none;}
#navbar {
  position:fixed;
  width:60vw;
  background:var(--light-tan);
  top:0px;
  align-items: center;
}
#navbar ul {
  padding:0px;
  margin:0px;
  padding:3% 0%;
  list-style-type:none;
  font-size:18px;
  text-align:right;
}
#navbar header {
  float:left;
  padding-bottom:0px;
  margin-bottom:0px;
  font-size:22px;
}
#navbar header:before {
  content:"♡";
  color: hsl(0, 100%, 68%);
  margin-right:10px;
}
#navbar ul li {
  display:inline;
}
#navbar ul li a {
  color: var(--dark-purple);
  border-bottom:0px;
  transition:2s;
  margin-right:16px;
}
#navbar ul li a:hover {
  border-bottom:2px solid var(--dark-purple)
}
#navbar ul li a:before {
  font-size:26px;
  margin-right:10px;
}
#main {
  width:60vw;
  margin:0 auto;
  padding-bottom:10%;
}
h1 {
  overflow:hidden;
  font-family: 'Londrina Outline', cursive;
  text-transform:uppercase;
  text-shadow: 8px 8px var(--dark-tan);
  font-size:72px;
  animation: grow 2s steps(22,end);
  letter-spacing:24px;
  padding-top:15%;
  text-align:left;
  white-space:nowrap;
  color:var(--dark-purple);
}
.tmpl-home h2 {
       box-shadow:inset 0 -30px 0 0 var(--light-tan),
       inset 0 -33px 0 0 hsl(0, 100%, 78%);
}
.tmpl-post h2:first-child {
  box-shadow:inset 0 -30px 0 0 var(--light-tan),
  inset 0 -33px 0 0 hsl(0, 100%, 78%);
}
.tmpl-home header {
  padding-bottom:10%;
}
h2 span {
     padding:10px;
     background:var(--light-tan);
     font-size:40px;
}
h2 span:after {
  content:'✧･ﾟ:';
  color:hsl(0, 100%, 68%);
  padding-left:20px;
  padding-right:20px;
}
#content {
  font-size:22px;
      display:grid;
   grid-template-columns: 1fr 1fr;
  grid-gap:30px 30px;
}
section {
  margin-top:5%;
  margin-bottom:5%;
}
.item {  
  width:100%;
}
.item header {
  padding:1vw;
}
.item a {
  padding:5px 15px;
  margin-top:15%;
  background: hsl(0, 100%, 78%);
  border-radius:15px;
  box-shadow: 0px 5px 15px 0px var(--dark-tan);
  transition:2s;
  color:var(--dark-purple);
}
.item a:hover {
  background: hsl(0, 100%, 68%);
  color:var(--light-tan);
}
.item img {
  border-radius:10px;
  width:100%;
  box-shadow: 0px 5px 15px 0px var(--dark-tan);
  margin-bottom:5%;
}
img:after {
  display:block; 
  content:'';
  box-shadow: 0px 5px 65px 30px var(--dark-tan);
}
#skills {
  display:flex;
  justify-content:flex-start;
}
#skills header:after {
  content:'♡';
  margin-left:15px;
  color:hsl(0, 100%, 68%);
  font-size:30px;
}
#skills ul {
  list-style-type:none;
  width:30%;
  background-color:hsl(240, 100%, 95%);
  border-radius:5px;
  padding:1%;
  margin:2%;
}
#skills ul:nth-child(2){
  background-color:hsl(240, 100%, 92%);
}
#skills ul:nth-child(3){
  background-color:hsl(240, 100%, 88%);
}
#skills ul li:before {
  content:'☆';
  margin-right:15px;
  color:hsl(0, 100%, 78%);
}
#posts {
  padding-top:15%;
}
#posts a[href] {
  box-shadow:inset 0px -20px 0px hsl(0, 100%, 85%);
  font-weight:bold;
  transition: 2s;
}
#posts a[href]:hover {
  box-shadow:inset 0px -30px 0px var(--dark-tan);
}
.tmpl-post #posts p {
  width:67%;
  line-height:28px;
  margin-top:30px;
}
.tmpl-post p code {
  padding:2px;
  font-size:16px;
  border-radius:5px;
  background-color:var(--dark-tan);
  border:1px solid var(--dark-purple);
}
.tmpl-post pre code {
  border-radius:10px;
  background: hsl(240, 100%, 95%);
  box-shadow: 0px 5px 20px hsla(32, 100%, 70%);
  margin:5% 0%;
  padding:5%;
  color: var(--dark-purple);
}
#posts ul {
  list-style: none;
  max-width:55vw;
  margin-left: 0;
  padding-left: 0;
}
#posts ul li {
  margin-left:1em;
  text-indent:-1em;
  margin-top:30px;
  margin-bottom:30px;
}
#posts ul li:before {
  content: '☆';
  padding-right:1em;
  padding:2px 10px;
  border-radius:50%;
  background-color:var(--dark-tan);
  margin-right:20px;
  margin-top:55px;
  margin-bottom:35px;
}
.postlist {
  list-style-type: none;
}
.postlist .postlist-item .postlist-link {
  box-shadow:inset 0 -20px 0 0 hsl(0, 100%, 88%);
  font-size:28px;
  font-weight:bold;
  transition: 1s;
}
.postlist .postlist-item .postlist-link:hover {
  box-shadow:inset 0 -40px 0 0 var(--dark-tan);
  font-size:28px;
}
.postlist .postlist-item .tag {
  box-shadow:none;
}
.postlist-item .tag {
  padding:2px 2px;
  border-radius:5px;
  background-color: hsl(0, 100%, 85%);
  border:1px solid hsl(0, 100%, 68%);
  font-size:16px;
  transition: 1s;
}
.postlist-item .tag:hover {
  background-color: hsl(0, 100%, 70%);
  border:1px solid hsl(0, 100%, 78%);
  color:var(--light-tan);
}
@keyframes grow {
  0% {
    width:0%;
  }
  100%{
  width:100%;
  }
}
@media only screen and (max-width: 600px) {
  header h1 {
     font-size:36px;
  }
  #navbar,#main, #content, .tmpl-post #posts p {
    width:75vw;
  }
  header, #posts {
    margin-top:15%;
  }
  #navbar ul li {
    display:block;
    font-size:16px;
  }
  #content {
    font-size:22px;
        display:block;
  }
}