{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
<!--FitVid-->
<script src="https://raw.githubusercontent.com/davatron5000/FitVids.js/master/jquery.fitvids.js"></script>
<!-- Netlify CMS -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- Highligh.js -->
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/healyicon.css">
  </head>
  <body class="{% if eleventyNavigation.key %}{{ eleventyNavigation.key }}{% endif %}">
    <main tabindex="-1" id="main">
      <aside id="side" class="menu-left">
    {% include "partials/sidebar.html" %}
    </aside> 
    <div class="blog_content">
        {% block content %}{% endblock %}
                 {% include "partials/cta.html" %} 
      <footer role="contentinfo" class="uk-section">
          <p>Made with ☕ . <a href="/colophon">Colophon</a>.</p>
      </footer>
        </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
     <script>
    function openNav() {
  if ($(window).width()<=700) {
    document.getElementById("side").style.width = "100%";
  }
  else {
    document.getElementById("side").style.width = "30%";
  }
      document.getElementById("side").style.marginLeft = "0%";
  document.getElementById("main").style.marginLeft = "30%";
}
function closeNav() {
   if ($(window).width()<=700) {
   document.getElementById("side").style.marginLeft = "-100%";
   }
  else {
       document.getElementById("side").style.marginLeft = "-30%";
  }
   document.getElementById("main").style.marginLeft= "0%";
}
    </script>
  </body>
</html>
