{% extends "layouts/base.html" %}
{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = summary %} 
{% block content %}
    {% include "partials/page-header.html" %} 
    <section id="featured-boxes">
   <h1> {{ featuredWork.title }}</h1>
    {{ content | safe }}
   {% include "partials/featured-work.html" %} 
     <h1> {{ skills.title }}</h1>
   <p> {{ skills.summary }}</p>
   <div class="skillsets">
   {% for item in skills.subSkills %}
   <div class="skillsItem">
     <h2>{{ item.subskillsTitle1 }}</h2>
     <p>{{ item.subskillsSummary }}</p>
     </div>
    {% endfor %}
    </div>
   </section>
{% endblock %}