{% extends "layouts/base.html" %}
{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 
{% block content %}
  <article id="about" class="view-width">
    {% include "partials/page-header.html" %} 
       <div id="social-list">
       {% for item in collections.socialLinks %}
      <a href="{{ item.data.linkURL }}">
        <h2 class="uk-card-title">
          {{ item.data.title }}
        </h2>
        <p>
          {{ item.data.summary }}
          <span class="arrow">→</span>
        </p>
        </a>
      {% endfor %}
         </div>
        </article>
{% endblock %}
