  <h2 id="work"><span>{{ featuredWork.title }}</span></h2>
   <article id="content">
  {% for item in collections.featuredWork %}
  <div class="item">
        <img
          src="{{ item.data.hero.image }}"
          alt="{{ item.data.hero.imageAlt }}"
        />
        <p>{{ item.data.summary }}</p>
         <a
        href="{{ item.data.summary_link }}"
      >{{ item.data.title }} </a>
      </div>
      {% endfor %}
      </article>