---
layout: layouts/base.njk
templateClass: tmpl-home
---
<header id="type">
  <h1>{{ intro.greeting }}</h1>
  <p>{{ intro.summary }}</p>
</header>
{% include "partials/featured-work.njk" %} 
 <h2 id="posts"><span>{{ blog_feed.title }}</span></h2>
{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}