       {% for item in collections.featuredWork %}
      <div class="item">
      <figure class="featured-image">
      <img src="{{ item.data.imageURL }}">
      </figure>
      <div class="featured-content">
        <h2 class="uk-card-title">
          {{ item.data.title }}
        </h2>
        <p>
         <b>Completed: </b>{{ item.data.completed }} <b>Tools</b> {{ item.data.tools}}
        </p>
        <p>{{ item.data.summary }}</p>
        <a href="{{ item.url }}">Read 👉</a>
        </div>
          </div>
      {% endfor %}