<article class="featured-work">
  <div class="wrapper">
    <div class="view-width">
        <h2
          class="h2-header"
          data-highlight="dark"
        >
          <span>{{ featuredWork.title }}</span>
        </h2>
        <p class="[ featured-work__summary ] [ measure-compact ]">
          {{ featuredWork.summary }}
        </p>
      </div>
    <div class="featured-work-inner">
      {% for item in collections.featuredWork %}
      <a
        href="{{ item.url }}"
        aria-label="See {{ item.data.title }}"
        data-frame="quaternary"
      >
        <img
          src="{{ item.data.hero.image }}"
          alt="{{ item.data.hero.imageAlt }}"
          loading="lazy"
          class="radius"
        />
      </a>
      {% endfor %}
    </div>
    <div class="featured-work-button view-width">
      <a href="/work/" class="button">See more work</a>
    </div>
  </div>
</article>
