        {% if postListHeadline %}
    <h2 class="post-rec">
      {{ postListHeadline }}
    </h2>
    {% endif %}
        {% for item in postListItems %}
           <div class="item">
       <figure class="featured-image">
      <img src="{{ item.data.imageURL }}">
      </figure>
         <div class="featured-content">
        <time style="font-size: 12px; font-family: Calibri;" datetime="{{ item.data.date }}">
        🕒 {{ item.data.date | dateFilter }}</time>
          <h2>{{ item.data.title }}</h2>
          <p>{{ item.data.description }}</p>
          <a href="{{ item.url }}" class="post-list-link">👉 Read More</a>
       </div>
       </div>
        {% endfor %}


