  <div id="side_content">
  <h1 class="blog_title"><b><a href="/">Hi 👋</a></b></h1>
  <p class="description">I'm a wanna be runner, a web designer, avocado consumer, and also human who is obsessed with 
  finding the perfect <a href="https://thewoksoflife.com/sesame-noodles/">sesame noodle</a> recipe but not in that order.
   Thanks for visiting! If you want to work on a project together <a href="mailto:rbrittbusler92@gmail.com">let's chat</a></p>
 <nav id="nav-menu"  class="uk-navbar-container" uk-navbar>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          <h2><b>📃 Pages</b></h2>
          <ul>
            <li>
          <h3><a href="/work">👉 Work →</a></h3>
          <p>Websites and fun things I've made for the web.</p>
           </li>
           <li>
             <h3><a href="/about">🐀 About →</a></h3>
          <p>How and why this site was made</p>
           </li>
               <li>
             <h3><a href="/links">🌐 Elsewhere →</a></h3>
          <p>Here's all the places you can find me on the world wide web</p>
           </li>
           <li> 
           <h3><a href="/blog">✏️ Writing →</a></h3>
        <p>My thoughts on web developement</p>
        </li>
           <li>
              <a class="donate" href="https://ko-fi.com/softthemes"><b>☕ Buy me a coffee? &rarr;</b></a>
                    </li>
             </ul>
  </nav>
  </div>